// default namespace
namespace=http://www.daselab.org/ontologies/ADE20K/hcbdwsu#

// K1/negExprTypeLimit, limit of number of concepts in a negative expression of a hornClause
conceptLimitInNegExpr=3

// K2/hornClauseLimit
hornClauseLimit=3

// K3/permutate/combination untill this number of objectproperties
objPropsCombinationLimit=3

// K5 select upto k5 hornClauses to make combination
hornClausesListMaxSize=50

// K6 select upto k6 candidate classes to make combination
candidateClassesListMaxSize=50

// declare some prefixes to use as abbreviations
prefixes = [ ("ex","http://www.daselab.org/ontologies/ADE20K/hcbdwsu#") ]

// knowledge source definition
ks.fileName = "ade20k_aligned_with_sumo.owl"


// object properties
objectProperties={":imageContains"}

// atomic types both appeared in positive and negative
removeCommonTypes=true

// reasoner
reasoner.reasonerImplementation=pellet


lp.positiveExamples = { "ex:airport_terminal_ADE_train_00000001","ex:airport_terminal_ADE_train_00000002", "ex:airport_terminal_ADE_train_00001092","ex:airport_terminal_ADE_train_00001093","ex:airport_terminal_ADE_train_00001094" }

lp.negativeExamples = { "ex:bathroom_ADE_train_00000006","ex:bedroom_ADE_train_00000192","ex:building_facade_ADE_train_00004593","ex:conference_room_ADE_train_00000570","ex:corridor_ADE_train_00000574","ex:dining_room_ADE_train_00006845","ex:highway_ADE_train_00008988","ex:hotel_room_ADE_train_00009520","ex:kitchen_ADE_train_00000594","ex:living_room_ADE_train_00000651","ex:mountain_snowy_ADE_train_00000932","ex:office_ADE_train_00000933","ex:street_ADE_train_00016858", "ex:skyscraper_ADE_train_00000954"}

